.checkbox {
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background: #ffffff;
	border: 1px solid #e3e4f1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.checkbox--checked {
	background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}
